.success-text {
    color: #19af55;
}

.danger-text {
    color: #d82f44;
}

.hz-and-vert-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spinner-overlay {
    opacity: 0.5;
    pointer-events: none;
}

.no-value-text {
    font-style: italic;
    text-align: center;
    color: var(--color-gray-400);
}

.error-toast {
    color: #fafafa !important;
    font-size: 15px !important;
    background-color: var(--color-red-800) !important;
}