.header-container {
    border-bottom: 1px solid var(--main-color);
    padding: 8px 10px;
    overflow-x: scroll;
    position: fixed;
    top: 0px;
    background-color: white;
    width: 100%;
    z-index: 60;

    &::-webkit-scrollbar {
        display: none;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        .logo {
            color: #1e7ce0;
            font-size: 20px;
            font-weight: 700;
            margin-right: 12px;
            background-color: #fff;
        }
    }
}

.body-wrapper {
    position: relative;
    min-height: 100dvh;

    .main-content {
        max-width: 100%;

        .container {
            padding: 12px;
            margin: 46px auto auto auto;
            max-width: var(--container-width);
        }
    }
}

.success-text {
    color: #19af55;
}

.danger-text {
    color: #d82f44;
}

.pair-container {
    display: flex;
    padding: 2px 6px;
    background-color: #f9fafc;
    border-radius: 6px;
    font-size: 12.5px;
    margin-right: 8px;
    width: max-content;

    .name {
        padding-right: 6px;
        color: #81878c;
    }

    .value {
        font-weight: 600;
    }
}

.hz-and-vert-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spinner-overlay {
    opacity: 0.5;
    pointer-events: none;
}

.footer-inner-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 12px;

    .source-code-link {
        margin-left: 2px;

        a {
            margin-left: 3px;
            text-decoration: underline;
        }
    }
}

.no-value-text {
    font-style: italic;
    text-align: center;
    color: var(--color-gray-400);
}