.body-wrapper {
    position: relative;
    min-height: 100dvh;

    .main-content {
        max-width: 100%;

        .container {
            padding: 55px 12px 25px 12px;
            margin: auto;
            max-width: var(--container-width);
        }
    }
}

.success-text {
    color: #19af55;
}

.danger-text {
    color: #d82f44;
}

.pair-container {
    display: flex;
    padding: 2px 6px;
    background-color: #f9fafc;
    border-radius: 6px;
    font-size: 12.5px;
    margin-right: 8px;
    width: max-content;

    &:last-child {
        margin-right: unset;
    }

    .name {
        padding-right: 6px;
        color: #81878c;
    }

    .value {
        font-weight: 600;
    }
}

.hz-and-vert-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spinner-overlay {
    opacity: 0.5;
    pointer-events: none;
}

.footer-inner-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 12px;

    .source-code-link {
        margin-left: 2px;

        a {
            margin-left: 3px;
            text-decoration: underline;
        }
    }
}

.no-value-text {
    font-style: italic;
    text-align: center;
    color: var(--color-gray-400);
}

.error-toast {
    color: #fafafa !important;
    font-size: 15px !important;
    background-color: var(--color-red-800) !important;
}