.bottom-tab-bar {
    position: fixed;
    bottom: 40px;
    z-index: 90;
    place-items: center;
    width: 100%;

    [data-slot="tabs"] {
        place-items: center;

        [data-slot="tabs-list"] {
            background-color: var(--main-bg-color);
            box-shadow: 0 0 6px 10px rgba(0, 0, 0, 0.06);
            height: 40px;
            overflow: auto hidden;
            gap: 5px;

            &.remove-shadow {
                border: 1px solid var(--border-color);
                box-shadow: unset;
            }

            [data-state="active"] {
                background-color: var(--main-color-2);
                color: #fafafa;
            }

            button {
                min-width: 40px;
                max-width: max-content;
            }
        }
    }
}

@media screen and (max-width: 910px) {
    .bottom-tab-bar {
        bottom: 47px;
    }
}