.bottom-tab-bar {
    [data-slot="tabs"] {
        box-shadow: var(--box-shadow);
        max-width: max-content;
        margin: auto;
        overflow: auto hidden;
        border: 1px solid var(--border-color);
        border-radius: var(--border-radius);
        display: flex;
        align-items: center;

        [data-slot="tabs-list"] {
            background-color: var(--main-bg-color);
            box-shadow: var(--box-shadow);
            height: 40px;
            gap: 5px;
            border-radius: unset;

            [data-state="active"] {
                background-color: var(--bottom-bar-tab-bg-color);
                color: var(--text-color);
            }

            button,
            a {
                min-width: 36px;
                max-width: max-content;
                font-weight: 600;
                place-items: center;
            }

            a:hover {
                background-color: #f2f3f8;
                border-radius: var(--border-radius);
                color: var(--text-color);
                padding: 8.5px;
            }
        }

        &.remove-shadow {
            box-shadow: unset;
        }
    }
}

@media screen and (max-width: 910px) {}