.recharts-responsive-container {
    max-height: 340px;

    .recharts-layer {
        &.recharts-yAxis {
            .recharts-cartesian-axis-tick {
                &:first-child {
                    line {
                        display: none;
                    }

                    text {
                        display: none;
                    }
                }
            }
        }
    }
}