.coin-details-page-container {
    gap: 20px;
    margin-top: 12px;

    .coin-info-col {
        .coin-info-container {
            .header {
                display: flex;
                align-items: center;
                margin-bottom: 10px;

                .rank {
                    background-color: #f2f2f2;
                    padding: 2px 6px;
                    border-radius: var(--border-radius);
                    margin-right: 8px;
                }

                .coin-img {
                    object-fit: contain;
                    width: 26px;
                    height: 26px;
                    margin-right: 8px;
                    border-radius: var(--border-radius);
                }

                .name {
                    font-weight: 600;
                    font-size: 18px;
                }
            }

            .coin-price {
                display: flex;
                align-items: center;
                margin-bottom: 10px;

                .current-price {
                    font-weight: 700;
                    font-size: 30px;
                    margin-right: 8px;
                }

                .price-change-percent {
                    display: flex;
                    align-items: center;
                    font-size: 18px;
                    font-weight: bold;
                }
            }

            .other-info-wrapper {
                .pair {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 16px;
                    font-size: 15px;

                    &:last-child {
                        margin-bottom: unset;
                    }

                    .key {
                        color: #64748b;
                    }
                }
            }
        }
    }

    .coin-price-change-chart-col {
        .coin-chart-wrapper {
            border: 1px solid var(--border-color);
            border-radius: var(--border-radius);
            padding: 12px;
            position: relative;
            min-height: 100%;

            .tabs-wrapper {
                overflow-x: auto;
                overflow-y: hidden;
                margin: 0 auto 0px auto;
                display: flex;
                flex-wrap: wrap;

                [data-slot='tabs'] {
                    margin-right: 14px;
                    margin-bottom: 16px;
                }
            }

            .chart-container {
                max-height: 320px;

                [data-slot="chart"] {
                    width: 100%;
                    max-height: inherit;
                }

                .loading-spinner {
                    place-items: center;
                    display: grid;
                    min-height: 180px;
                }

                .no-value-text {
                    place-items: center;
                    display: grid;
                    min-height: 180px;
                }
            }
        }
    }
}