.header-container {
    border-bottom: 1px solid var(--border-color);
    padding: 0px 10px;
    overflow-x: auto;
    position: sticky;
    top: 0px;
    background-color: var(--main-bg-color);
    width: 100%;
    z-index: 60;
    height: 50px;
    align-content: center;

    &::-webkit-scrollbar {
        display: none;
    }

    &.with-shadow {
        box-shadow: var(--bottom-box-shadow);
        border-bottom: unset;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        .logo {
            color: var(--main-color-2);
            font-size: 20px;
            font-weight: 700;
            margin-right: 12px;
        }

        .account-container {
            width: 130px;
            display: flex;
            justify-content: end;

            .user-icon {
                text-align: center;
                // border: 1px solid var(--border-color);
                // border-radius: var(--border-radius);
                width: 30px;
                cursor: pointer;
            }

            .sign-in-btn {
                background-color: #ededed;
                color: var(--black-text-color);

                &:hover {
                    background-color: #ededed;
                    color: var(--black-text-color);
                }
            }
        }
    }
}