@use "@/styles/application-wide";
@use "@/styles/market-summary";
@use "@/styles/coin-details";
@use "@/styles/charts";
@use "@/styles/coins";
@use "@/styles/tooltip";
@use "@/styles/header";
@use "@/styles/cn-dialog";

.body-wrapper {
    position: relative;
    min-height: 100dvh;

    .main-content {
        max-width: 100%;

        .container {
            padding: 55px 12px 25px 12px;
            margin: auto;
            max-width: var(--container-width);
        }
    }
}

.pair-container {
    display: flex;
    padding: 2px 6px;
    background-color: #f9fafc;
    border-radius: 6px;
    font-size: 12.5px;
    margin-right: 8px;
    width: max-content;

    &:last-child {
        margin-right: unset;
    }

    .name {
        padding-right: 6px;
        color: #81878c;
    }

    .value {
        font-weight: 600;
    }
}

.footer-inner-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 12px;

    .source-code-link {
        margin-left: 2px;

        a {
            margin-left: 3px;
            text-decoration: underline;
        }
    }
}