@use "@/styles/application-wide";
@use "@/styles/market-summary";
@use "@/styles/coin-analysis";
@use "@/styles/charts";
@use "@/styles/coins";
@use "@/styles/tooltip";
@use "@/styles/header";
@use "@/styles/cn-dialog";
@use "@/styles/coin-details-dialog";
@use "@/styles/global-market-stats";
@use "@/styles/bottom-tab-bar";
@use "@/styles/footer";
@use "@/styles/coin-search-dialog";

.body-wrapper {
    position: relative;
    min-height: 100dvh;
    background-color: var(--main-bg-color);

    .main-content {
        max-width: 100%;

        .container {
            padding: 12px 12px 100px 12px;
            margin: auto;
            max-width: var(--container-width);
        }
    }

    .bottom-sticky-container {
        position: fixed;
        bottom: 0px;
        z-index: 99;
        width: 100%;
    }
}