.market-summary-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 12px;

    .item {
        min-width: 270px;
        flex: 1;

        [data-slot="item-title"] {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .more-link {
                cursor: pointer;
                display: flex;
                align-items: center;

                .lucide-chevron-right {
                    width: 13px;
                    margin-left: 1px;
                }
            }
        }
    }
}

.crypto-symbol {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 70px;
    font-weight: 500;
}

.coin-letter-mark {
    text-align: center;
    background-color: #f3f3f3;
    border-radius: 4px;
    padding: 2px 8px;
    font-weight: 500;
}

.coins-table {
    width: 100%;

    thead {
        th {
            font-size: 12px;
            color: var(--overview-section-th-color);
            font-weight: unset;
            padding: 0px 8px 12px 8px;

            &:first-child {
                padding-left: unset;
            }

            &:last-child {
                padding-right: unset;
            }
        }
    }

    tbody {
        tr {
            vertical-align: middle;

            &:first-child {
                td {
                    padding-top: unset;
                }
            }

            &:last-child {
                padding-bottom: unset;
            }

            td {
                padding-top: 16px;
                padding-right: 8px;
                padding-left: 8px;

                &:first-child {
                    padding-left: unset;
                }

                &:last-child {
                    padding-right: unset;
                }
            }
        }
    }
}