.watchlist-coins-container {
    margin-bottom: 12px;
    border: 1px solid var(--main-color);
    border-radius: var(--border-radius);
    padding: 8px 12px;

    .header {
        font-size: 12px;
        margin-bottom: 4px;
    }

    .cnv-borderless-table.watchlist-coins-table {
        margin-bottom: 12px;

        tbody {
            tr {
                &:hover {
                    background-color: var(--row-hover-color);
                    cursor: pointer;
                }

                td {
                    color: unset;
                    padding: 8px 8px;

                    &:first-child {
                        border-top-left-radius: var(--border-radius);
                        border-bottom-left-radius: var(--border-radius);
                    }

                    &:last-child {
                        border-top-right-radius: var(--border-radius);
                        border-bottom-right-radius: var(--border-radius);
                    }
                }
            }
        }
    }
}